:root {
    --color-player-1-win: #ff9e9e;
    --color-player-2-win: #7e7eff;
    --color-draw: gray;
    --border-radius: 10px;
}

.game-wrapper {
    margin: 0 auto;
    width: 45vw;
    height: 45vw;
    display: flex;
    flex-direction: column;
}

.game-wrapper[data-player='1'] {
    --color-player: var(--color-player-1-win);
}

.game-wrapper[data-player='2'] {
    --color-player: var(--color-player-2-win);
}

.game-indicator {
    display: flex;
    padding: 5px;
    border-radius: var(--border-radius);
}

.game {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 15px 0;
}

.game--start .tic-tac-toe:not(.tic-tac-toe--active) {
    opacity: 0.4
}

.tic-tac-toe {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border-radius: var(--border-radius);
}

@keyframes twinkle {
    from { box-shodow: none }
    to { box-shadow: inset 0 0 5px 5px var(--color-player)};
}

.tic-tac-toe--active {
    animation: 1s ease-in infinite alternate-reverse both twinkle;
}

.tic-tac-toe[data-result='1'] {
    background: var(--color-player-1-win);
}

.tic-tac-toe[data-result='2'] {
    background: var(--color-player-2-win);
}

.tic-tac-toe[data-result='Draw'] {
    background: var(--color-draw);
}

.lattice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.lattice:after {
    content: attr(data-mark);
    font-weight: bold;
    color: #fff;
}

.lattice[data-mark] {
    cursor: not-allowed;
}

.lattice[data-player='1'] {
    background: var(--color-player-1-win);
}

.lattice[data-player='2'] {
    background: var(--color-player-2-win);
}

.game-indicator label {
    color: #fff;
}

.game-indicator {
    background: var(--color-player);
}

